@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

body,
p,
h1,
ul,
li,
blockquote {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Vollkorn', serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100px;
}

/* GLOBAL */

.structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    'header header header'
    'sidenav content adverts'
    'footer footer footer';
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.adverts {
  grid-area: adverts;
}

.footer {
  grid-area: footer;
}
